<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getId()}">Пользователь</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ИМЯ</th>
        <th scope="col">ФАМИЛИЯ</th>
        <th scope="col">ВОЗРАСТ</th>
        <th scope="col">ПОЧТА</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th><p th:text="${user.getId()}">VALUE</p></th>
        <td><p th:text="${user.getFirstName()}">VALUE</p></td>
        <td><p th:text="${user.getLastName()}">VALUE</p></td>
        <td><p th:text="${user.getAge()}">VALUE</p></td>
        <td><p th:text="${user.getEmail()}">VALUE</p></td>
    </tr>

    </tbody>
</table>

<a th:href="@{/admin/user/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="GET" th:action="@{/admin/user/{id}/delete (id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>